.type_text > label {
  flex-direction: row;

  border: 0px;
  border-radius: 0px;

  background-color: rgba(70, 70, 70, 0.4);

  z-index: 0;
}

.type_text input:checked ~ label {
  color: rgb(95, 119, 89);
  overflow: visible;
}

.type_text label:hover > .labelText {
  text-decoration-line: underline;
}

.type_button > label {
  border: 1px solid transparent;
  border-radius: 3px;

  background-color: rgb(70, 70, 70);

  z-index: 0;
}

.type_button > input:checked ~ label {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: 20px;
  background-color: rgb(63, 78, 59);
}

.type_button.btnWrapper {
  max-width: 150px;
  width: 100%;
}

input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 0;
  height: 0;

  opacity: 0;
  z-index: 1;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  line-height: 1.2em;
  text-align: center;

  padding: 0.5em;

  cursor: pointer;
}
